
@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

img{
	border: 0;
}

h1, #pixels{
	font-family:"Museo 900", Verdana, serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

/******ナビゲーション***/

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
	z-index: 999;
}

#nav li{
	margin: 0 0 15px 0;	
}

#nav li a {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: white;
	border: solid 2px white;
}

#nav li a.current {
	background-color: orange;
}



/* ALL */
.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: hidden;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}

.slide {
	width: 100%;
}


/*AAA*/
#move1{position:absolute;right:-600px;}
#move2{position:absolute;right:-600px;}
#move3{position:absolute;right:-600px;}
.pagetop {
   position:fixed;
   right:0;
   bottom:0;
}


/*FIRST */
#first{
	background:url(img/firstBG.gif) 50% 0px no-repeat fixed;
  background-size:cover;
	color: white;
	height: 900px;
	margin: 0 auto;
	padding: 0px 0 0 0;
    z-index:10;
}

/*SECOND */
#second{
	background: url(img/secondBG.jpg) 0% 0 no-repeat fixed;
  background-position:center center ;
	background-color: black;
  color:white;
	height: 1000px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
  z-index:20;
}

#second .secondPARTS{
	background: url(img/secondPARTS.gif) 50% 0 no-repeat fixed;
	height:4300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1000px;
	z-index: 200;
}

/*THIRD*/
#third{
	background: url(img/butfly1.gif) 0% 0 repeat fixed;
  background-size:cover;
	height: 1000px;
  margin: 0 auto;
	padding:  0;
  width:auto;
  z-index:30;
}
.book {
  background:  0% 0 no-repeat fixed;  
  margin: 0 auto; 
  text-align: center; 
  top: -500px;
  height: 480px;
  width: 320px;
  position:fixed;
  margin: 0 auto; 
  margin-left:50%;
  margin-right:50%;
  
  z-index:31;
}
/*蝶
#third .bg1{
  background: url(img/butfly1.gif) 0% 0 repeat fixed;
  background-size:contain;
	height: 500px;
  width:100%;
}
#third .bg2{
  background: url(img/butfly2.gif) 50% 0 repeat fixed;
  background-size:contain;
	height: 500px;
  width:100%;

}
  */

/*FOURTH*/
#fourth {
  background: url(img/fourthBG.jpg) 0% 0 repeat fixed;
  background-position:center center;
  height: 1800px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  z-index:40;
}
/*
#fourth .openMenu{
  background: url(img/fourthPARTS.png) 0% 0 no-repeat fixed;
  background-position:center center;
  position:relative;
  height: 1480px;
  width: 640px;
  
  margin: 0 auto;
  padding: 0;

}
  
.food1 {
  background: url(img/food1.gif) 0% 0 no-repeat fixed;
  background-position:300px center;
  position:absolute;
  height: 650px;
  width: 1000px;
}
.food2 {
  background: url(img/food2.gif) 0% 0 no-repeat fixed;
  background-position:600px center;
  position:absolute;
  height: 250px;
  width: 100%;
}
.food3 {
  background: url(img/food3.gif) 0% 0 no-repeat fixed;
  background-position:300px center;
  position:absolute;
  height: 250px;
  width: 100%;
}
.food4 {
  background: url(img/food4.gif) 0% 0 no-repeat fixed;
  background-position:600px center;
  position:absolute;
  height: 250px;
  width: 100%;
}
  違うバージョン
  #fourth .openMenu{
  position:fixed;
  top:0%;
  left:20%;
  height: 480px;
  width: 640px;
  overflow:hidden;
}
.food1 {
  top:50px;
  left:25%;
  position:fixed;
  height: 217px;
  width: 250px;
}
.food2 {
  top:0%;
  left:50%;
  position:fixed;
  height: 188px;
  width: 250px;
}
.food3 {
  top:0%;
  left:25%;
  position:fixed;
  height: 167px;
  width: 250px;
}
.food4 {
  top:0%;
  left:50%;  
  position:fixed;
  height: 232px;
  width: 250px;
}
  */
.fourthBox {
  position: fixed;
  top:50px;
  left:20%;
}
#fourth .openMenu{
  margin: 0 auto;
  height: 480px;
  width: 640px;
  overflow:hidden;
}
.food1 {
  top:50px;
  left:60px;
  position:absolute;
  height: 217px;
  width: 250px;
}
.food2 {
  top:50px;
  right:50px; 
  position:absolute;
  height: 188px;
  width: 250px;
}
.food3 {
  top:50px;
  left:60px;
  position:absolute;
  height: 167px;
  width: 250px;
}
.food4 {
  top:50px;
  right:50px;  
  position:absolute;
  height: 232px;
  width: 250px;
}



/*FIFTH*/
#fifth{
	background: #ccc;
	height: 1400px;
	margin: 0 auto;
	padding: 40px 0 0 0;
  z-index:50;
}


/*SIXTH*/
#sixth {
  background: gray 0% 0 repeat fixed;
  height: 1000px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  z-index:60;
}


/*SEVENTH*/
#seventh {
  background: white 0% 0 repeat fixed;
  height: 1000px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  z-index:70;
}


/*EIGHTH*/
#eighth {
  background: gray 0% 0 repeat fixed;
  height: 1000px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  z-index:80;
}